body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background-image: url("../img/pexels-325185.webp");
background-repeat: no-repeat;
background-size: cover;
  background-attachment: fixed;
}

.weatherApp {
  max-width: 1000px;
  margin: 30px auto;
  padding: 40px;
  border: 2px solid #dadde1;
  border-radius: 10px;
  background-color: white 50%;
}

h1 {
  color: rgb(93, 97, 103);
  font-size: 38px;
  font-weight: 100;
  line-height: 56px;
  width: auto;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(93, 97, 103);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
.weatherApp-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weatherApp {
  padding: 40px;
  border: 2px solid #dadde1;
  border-radius: 10px;
}
.current-overvieuw {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #121212;
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -24px;
}
.weather-temperature .active {
  color: #121212;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active :hover {
  text-decoration: none;
}

.weather-forcast {
  margin: 20px;
  text-align: center;
   color:black;
}
.weather-forcast-date{
  font-size: 16px;
  opacity: 0.5;
 

}
.weather-forcast-temperature{
  font-size: 13px;
}
.weather-forcast-temperatures-min{
  opacity: 0.5;
}